<div fxLayout="row" fxLayoutAlign="center center">
    <mat-tab-group mat-stretch-tabs fxFlex="60%" fxFlex.md="70%" fxFlex.sm="80%" fxFlex.xs="100%">
        <mat-tab label="Recipe Tag">
            <app-recipe-tag-picker></app-recipe-tag-picker>
        </mat-tab>
        <mat-tab label="Ingredient Tag">
            <app-ingredient-tag-picker></app-ingredient-tag-picker>
        </mat-tab>
        <mat-tab label="Ingredient">
            <app-ingredient-picker></app-ingredient-picker>
        </mat-tab>
        <mat-tab label="Form Example">
            <mat-card>
                <mat-card-header>
                    <h1>Picker examples</h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-accordion>
                        <app-ingredient-picker #ingredientPk></app-ingredient-picker>
                        <app-recipe-tag-picker #recipeTagPk></app-recipe-tag-picker>
                        <app-ingredient-tag-picker #ingredientTagPk></app-ingredient-tag-picker>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-footer>
                    <mat-list>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Ingredients selected: {{ ingredients.length }}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Recipe Tags selected: {{ recipeTags.length }} 
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Ingredient Tags selected: {{ ingredientTags.length }}
                        </mat-list-item>
                    </mat-list>
                </mat-card-footer>
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent" (click)="submit()">
                        Get Data
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
