<mat-card class="mat-elevation-z2" tabindex="-1">
    <mat-card-title-group>
        <mat-card-title>Cart</mat-card-title>
        <mat-card-subtitle>{{
            this.service.cartInfo$ | async
        }}</mat-card-subtitle>
        <!-- right corner menu -->
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Cart menu"
        >
            <mat-icon>more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    role="menuitemradio"
                    (click)="this.service.toggleVisibility()"
                >
                    <mat-icon>visibility</mat-icon>
                    <span *ngIf="!visibilityAll">See all items</span>
                    <span *ngIf="visibilityAll">Hide selected items</span>
                </button>
                <button mat-menu-item (click)="service.setStatusToAll(act)">
                    <mat-icon>check_box</mat-icon>
                    <span>Select all</span>
                </button>
                <button mat-menu-item (click)="service.setStatusToAll(pen)">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <span>Deselect all</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>history</mat-icon>
                    <span>History (Coming soon)</span>
                </button>
            </mat-menu>
        </button>
    </mat-card-title-group>
    <mat-card-content>
        <mat-divider></mat-divider>
        <!-- cart list -->
        <app-cart-list></app-cart-list>
    </mat-card-content>
    <!-- bottom buttons -->
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-mini-fab disabled>
            <span> {{ service.civ.length }}/{{ service.ci.length }} </span>
        </button>
        <div fxLayout="row">
            <button mat-button>Close Cart</button>
            <button mat-raised-button color="primary" (click)="openAdd()">
                Add Ingredients
            </button>
        </div>
    </mat-card-actions>
</mat-card>
