<mat-list-item>
  <!-- This is for the database images -->
  <!-- <img -->
  <!-- *ngIf="rt.image" -->
  <!-- [src]="'data:' + rt.imageContentType + ';base64,' + rt.image" -->
  <!-- alt="ingredient image" -->
  <!-- matListAvatar -->
  <!-- /> -->
  <img
    *ngIf="ingredient.image"
    [src]="ingredient.image"
    alt="ingredient image"
    matListAvatar
  />
  <mat-icon *ngIf="!ingredient.image" matListIcon color="primary"
    >shopping_caingredient</mat-icon
  >
  <div matLine>
    {{ ingredient.name }}
  </div>
  <div matLine>
    <form [formGroup]="form">
      <mat-form-field>
        <!-- <mat-label>Amount</mat-label> -->
        <input
          autocomplete="off"
          formControlName="amount"
          matInput
          type="number"
        />
        <span matSuffix>{{ ingredient.unitAbbrev }}</span>
      </mat-form-field>
    </form>
  </div>
  <button (click)="remove()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-list-item>
<mat-divider></mat-divider>
