<mat-divider></mat-divider>
<mat-list-item>
  <img
    *ngIf="ingredient.image"
    [src]="ingredient.image"
    alt="ingredient image"
    matListAvatar
  />
  <mat-icon *ngIf="!ingredient.image" matListIcon color="primary"
    >shopping_caingredient</mat-icon
  >
  <div matLine>
    {{ ingredient.name }}
  </div>
  <div matLine>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          autocomplete="off"
          formControlName="amount"
          matInput
          type="number"
        />
        <span matSuffix>{{ ingredient.unitAbbrev }}</span>
      </mat-form-field>
    </form>
  </div>
  <button (click)="remove()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-list-item>
