<mat-list>
  <div
    *ngFor="
      let rt of options | ingredientFilter: searchText;
      let i = index;
      first as first
    "
  >
    <mat-list-item>
      <img
        *ngIf="rt.image"
        [src]="rt.image"
        alt="ingredient image"
        matListAvatar
      />
      <mat-icon *ngIf="!rt.image" matListIcon color="primary"
        >shopping_cart</mat-icon
      >
      <button mat-icon-button (click)="add(rt)">
        <mat-icon color="accent">add</mat-icon>
      </button>
      <div matLine>
        {{ rt.name }}
      </div>
      <div matLine>
        {{ rt.description }}
      </div>
    </mat-list-item>
  </div>
</mat-list>
