<mat-list [ngSwitch]="service.civ.length > 0">
    <div *ngSwitchCase="true">
        <mat-list-item *ngFor="let item of service.civ; let i = index">
            <img
                *ngIf="item.image"
                [src]="item.image"
                alt="List item image"
                matListAvatar
            />
            <mat-icon *ngIf="!item.image" color="primary" matListIcon>
                shopping_cart
            </mat-icon>
            <div matLine>{{ item.name }}</div>
            <div matLine>
                {{ item.amount }} <strong>{{ item.unitAbbrev }}</strong>
            </div>
            <button mat-icon-button (click)="delete(item)">
                <mat-icon color="warn">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="info(item)">
                <mat-icon color="primary">info</mat-icon>
            </button>
            <button
                mat-icon-button
                [ngSwitch]="item.status"
                (click)="toggle(i)"
            >
                <mat-icon *ngSwitchCase="'ACTIVE'" color="accent">
                    check_box
                </mat-icon>
                <mat-icon *ngSwitchDefault>check_box_outline_blank</mat-icon>
            </button>
        </mat-list-item>
    </div>
    <div *ngSwitchCase="service.ci.length === 0">
        <mat-list-item>
            <mat-icon color="primary" matListIcon>view_list</mat-icon>
            <div matLine>Seems like there are no ingredients left to buy.</div>
            <div matLine>Add some more, or close the cart.</div>
        </mat-list-item>
    </div>
    <div *ngSwitchDefault fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</mat-list>
