<mat-list-item>
    <img *ngIf="ci.image" [src]="ci.image" alt="List ci image" matListAvatar />
    <mat-icon *ngIf="!ci.image" color="primary" matListIcon>
        shopping_cart
    </mat-icon>
    <div matLine>{{ ci.name }}</div>
    <div matLine>
        {{ ci.amount }} <strong>{{ ci.unitAbbrev }}</strong>
    </div>
    <button mat-icon-button (click)="delete()">
        <mat-icon color="warn">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="info()">
        <mat-icon color="primary">info</mat-icon>
    </button>
    <button mat-icon-button [ngSwitch]="ci.status" (click)="toggle()">
        <mat-icon *ngSwitchCase="'ACTIVE'" color="accent"> check_box </mat-icon>
        <mat-icon *ngSwitchDefault>check_box_outline_blank</mat-icon>
    </button>
</mat-list-item>
